* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html, body {
    height: 100%;
}

$container-color: rgb(132, 132, 247);
$user-blue: rgb(30, 30, 109);