@use 'base';



.container {
    
    background-color: base.$container-color;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .form-filme {
        height: 90vh;
        width: 95vw;
        display: flex;
        

        .left {
            padding: 50px;
            width: 60%;
            background-color: base.$user-blue;
            height: 100%;
            border-radius: 20px 0 0 20px;

            h2 {                
                font-size: 3rem;
                color: white;
            }
        }

        .right {
            padding: 50px;
            width: 40%;
            background-color: white;
            height: 100%;
            border-radius: 0 20px 20px 0;

            h2 {
                font-size: 2rem;
                margin-bottom: 10px;
            }

            .form-item {
                padding: 10px 0;
                
                input, textarea, select {
                    width: 100%;
                    padding: 10px 5px;
                }

                a {
                    display: flex;
                    background-color: rgb(63, 63, 245);
                    text-decoration: none;
                    color: white;
                    padding: 15px 30px;
                    justify-content: center;
                    align-items: center;
                }
                
            }
        }
        
    }
}