html {
    background-color: #a397ec;
}

#contenedor {
    margin-top: 100px;  
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-radius: 10px;
    justify-content: center;
}

.img {
    width: 300px;
    height: 60px;
}

#left {
    width: 40%;
    background-color: #15076c;
    padding: 20px;
    border-radius: 10px 0px 0px 10px;
}

#rigth {
    width: 40%;
    padding: 20px;
    background-color: white;
    border-radius: 0px 10px 10px 0px;
}

.imgfondoPosition {
    position: absolute;
    top: 200px;
    left: 600px;
}

.imgfondo {
    width: 500px;
    height: 500px;
}

.form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
}
.title {
    font-family: "Roboto", sans-serif;
    text-align: center;
}
.subtitle {
    width: 500px;
    font-family: OCR A Std, monospace;
    color: white;
    margin-top: 90px;
    margin-left: 30px;
    max-width: 500px;
}
.form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}
.form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #2d048b;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
    background: #0e5672;
}
.form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
}